<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Weather Web Service</title>
</head>
<body>
<b>Weather Forecast Liljeholmen </b></br><b th:text="${date}"></b> <b th:text="${time}"></b></br>
</br>
<div th:object="${forecast}"><b>
    Temperature: <span th:text="${forecast.getTemp()}"></span>°</br>
    Humidity: <span th:text="${forecast.getHumidity()}"></span>%</br>
    From: <span th:text="${forecast.getOrigin()}"></span></br>
    Timestamp: <span th:text="${forecast.getTimestamp()}"></span></b>
</div></br>
<a href="/">Back</a></br>
</body>
</html>